/* テーブル全体のスタイルを小さくする */
.table {
    width: 80%; /* テーブルの幅を全体の80%に設定 */
    font-size: 0.8rem; /* テーブル内のフォントサイズを小さく設定 */
    border-collapse: collapse; /* セルの境界線を1本にまとめる */
    margin-bottom: 1rem; /* 下部に余白を設定 */
    background-color: white; /* テーブルの背景色を白に設定 */
}

/* テーブルの境界線スタイル */
.table-bordered {
    border: 1px solid #dee2e6; /* 境界線の色と太さを設定 */
}

/* テーブルヘッダーのスタイル */
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; /* ヘッダーの下部に太い境界線を設定 */
    background-color: #f8f9fa; /* ヘッダーの背景色を設定 */
    text-align: left; /* テキストを左揃えに設定 */
    padding: 8px; /* 内側の余白を設定 */
}

/* テーブルセルのスタイル */
.table td, .table th {
    padding: 0.5rem; /* セルの内側の余白を小さく設定 */
    border: 1px solid #dee2e6; /* セルの境界線の色と太さを設定 */
    text-align: left; /* テキストを左揃えに設定 */
}

/* マージントップを適用するカスタムスタイル */
.mt-8 {
    margin-top: 2rem; /* 例: 2remが望ましいマージンの大きさに相当する場合 */
}

form {
    display: flex;
    align-items: center; /* 要素を垂直方向の中心に揃える */
}
form > * {
    margin-right: 10px; /* 要素間の余白 */
}
